
.header {
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 30px 20px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title{
        color: #22c55e;
      }
  }
  
  .content__title::hover {
    content: 'as';
    margin-left: 5px;
    font-size: 15px;
    color: #e2e8f0;
  }
  
  .content__navbar {
    display: flex;
    align-items: center;
  }
  
  .content__navbar li {
    margin: 0 15px;
  }
  
  .content__navbar li:active {
    border: 1px solid #22c55e;
    border-radius: 10px;
    padding: 10px;
  }
  
  .content__navbar li a {
    color: #e2e8f0;
    font-weight: bold;
  }
  
  .content__navbar li a:hover {
    color: #22c55e;
    font-weight: bold;
    transition: color 0.3s;
  }